In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [45]:
ksi_df = pd.read_csv('Data/KSI.csv')

In [66]:
# empty column just made so that we can take count in pivot table

ksi_df['COUNT'] = 1

In [16]:
accnum_list = ksi_df['ACCNUM'].unique()

In [18]:
len(accnum_list)

6002

In [69]:
ksi_collapse = ksi_df.loc[ksi_df['ACCNUM'].drop_duplicates().index].pivot_table(values = ['COUNT'], index = ['LATITUDE', 'LONGITUDE'], aggfunc = 'count')

In [70]:
ksi_collapse.reset_index(inplace = True)

In [71]:
ksi_collapse

       LATITUDE  LONGITUDE  COUNT
0     43.590289 -79.526683      1
1     43.592047 -79.534717      1
2     43.592545 -79.541790      1
3     43.592673 -79.542079      1
4     43.593039 -79.541560      1
...         ...        ...    ...
5340  43.853145 -79.179990      2
5341  43.854145 -79.169690      1
5342  43.854245 -79.175490      1
5343  43.855197 -79.171344      1
5344  43.855445 -79.170284      1

[5345 rows x 3 columns]

In [68]:
# this latitude and longitude has 2 accidents

ksi_df[(ksi_df['LATITUDE'] == 43.853145) & (ksi_df['LONGITUDE'] == -79.179990)]

,X,Y,INDEX_,ACCNUM,YEAR,DATE,TIME,HOUR,STREET1,STREET2,...,SPEEDING,AG_DRIV,REDLIGHT,ALCOHOL,DISABILITY,POLICE_DIVISION,HOOD_ID,NEIGHBOURHOOD,ObjectId,COUNT
2270,-8.814276e+06,5.442744e+06,4274318,1000440,2007,2007/10/21 04:00:00+00,1449,14,STEELES Aven E,BEARE Road,...,<Null>,Yes,<Null>,<Null>,<Null>,D42,131,Rouge (131),2271,1
2278,-8.814276e+06,5.442744e+06,4274319,1000440,2007,2007/10/21 04:00:00+00,1449,14,STEELES Aven E,BEARE Road,...,<Null>,Yes,<Null>,<Null>,<Null>,D42,131,Rouge (131),2279,1
2456,-8.814276e+06,5.442744e+06,4196587,981104,2007,2007/06/23 04:00:00+00,1000,10,STEELES AVE E,BEARE RD,...,<Null>,Yes,<Null>,<Null>,<Null>,D42,131,Rouge (131),2457,1
2461,-8.814276e+06,5.442744e+06,4196588,981104,2007,2007/06/23 04:00:00+00,1000,10,STEELES AVE E,BEARE RD,...,<Null>,Yes,<Null>,<Null>,<Null>,D42,131,Rouge (131),2462,1
2466,-8.814276e+06,5.442744e+06,4196589,981104,2007,2007/06/23 04:00:00+00,1000,10,STEELES AVE E,BEARE RD,...,<Null>,Yes,<Null>,<Null>,<Null>,D42,131,Rouge (131),2467,1
2472,-8.814276e+06,5.442744e+06,4196590,981104,2007,2007/06/23 04:00:00+00,1000,10,STEELES AVE E,BEARE RD,...,<Null>,Yes,<Null>,<Null>,<Null>,D42,131,Rouge (131),2473,1

In [72]:
ksi_collapse.to_csv('KSI_Collapse_Count.csv')